#Footer{
    background-color: #3F979B;
    padding: 1rem 0;
    text-align: center;
    height: 20vh;
    
}
.bars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    padding: 25px;
    font-size: 20px;
}
.bars li a:hover{
    color: black;
}